<div class="container">
    <div class="row"></div>
    <div class="col-md-5 mx-auto">
        <div id="first">
            <div class="form-group">
                <br>
                <h2> Perfil Usuario </h2>
                <br>
                <tbody></tbody>
                 
                    <tr>
                        <h3>Name: {{userDb.user}}</h3>
                        <h4>Email: {{userDb.email}}</h4>
                        <h4>Role: {{userDb.role}}</h4>
                    </tr>
                    
              </tbody>
                 <form action="/products" method="get" class="center"> <button type="submit"
                    class=" btn btn-block mybtn btn-primary tx-tfm">Seguir Navegando</button> </form>
                <br>
            </div>

        </div>
    </div>
</div>
</div>